<div class="container">
  <h2>Raumbelegung</h2>
  <span>Name: </span>
  <span id="roomName">test</span><br>
  <span>Status: </span>
  <span id="roomStatus">test</span>
  <br><br>
  <button id="book" class="btn btn-primary">Loading...</button>
  <button id="switch" class="btn btn-primary">Zurück</button>
</div>
