<div class="container">
  <h2>Raumübersicht</h2>
  <p>Das sind die verfügbaren Räume</p>
  <table class="table-striped">
    <thead>
      <tr>
        <th>Raumname</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="overviewTable">

    </tbody>
  </table>
</div>
